/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: auto;
}

a {
  text-decoration: none;
}

html, body {
  height: 100%;
}

html, body {
  font-family: "Kanit", sans-serif;
}

.column {
  width: 260px;
  min-width: 260px;
  margin-right: 25px;
}
.column__header {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.column__header__cont {
  display: flex;
}
.column__header__cont h3, .column__header__cont span {
  color: #939CAD;
  font-size: 1em;
}
.column__header__cont h3 {
  text-transform: uppercase;
  margin: 0 7px 0 9px;
}
.column__header__cont__colors {
  height: 16px;
  width: 16px;
  border-radius: 50%;
}
.column__header__menuBtn {
  color: #939CAD;
  padding-right: 7px;
  font-size: 1.1em;
  cursor: pointer;
  transition: all 120ms ease-in-out;
}
.column__header__menuBtn:hover {
  transition: all 120ms ease-in-out;
  color: #768197;
}
.column:last-child {
  margin-right: 0;
}
.column__menu {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000000b6;
}
.column__menu__modal {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 30px;
  border-radius: 6px;
}
.column__menu__modal__closeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: 700;
  height: 23px;
  width: 23px;
  background: inherit;
  border: 2px solid #635EC6;
  border-radius: 50%;
  color: #635EC6;
  cursor: pointer;
  transition: all 120ms ease-in-out;
}
.column__menu__modal__closeBtn:hover {
  transition: all 120ms ease-in-out;
  border-color: #36328c;
  color: #36328c;
}
.column__menu__modal__errorCont {
  font-size: 0.8em;
  min-height: 13px;
  margin-top: 13px;
  max-width: 410px;
  color: #c41b1b;
}
.column__menu__modal h2 {
  font-size: 1.3em;
  font-weight: 600;
}
.column__menu__modal__form__inputCont {
  display: flex;
  flex-direction: column;
  margin-top: 22px;
}
.column__menu__modal__form__inputCont label {
  font-size: 0.85em;
  margin-bottom: 9px;
}
.column__menu__modal__form__inputCont input {
  height: 30px;
  width: 380px;
  background: inherit;
  border: 1px solid #939cad70;
  border-radius: 6px;
  padding: 0 15px;
}
.column__menu__modal__form__inputCont input::placeholder {
  color: #939cad70;
}
.column__menu__modal__form__inputCont textarea {
  resize: none;
  height: 80px;
  width: 380px;
  background: inherit;
  border: 1px solid #939cad70;
  border-radius: 6px;
  padding: 0 15px;
}
.column__menu__modal__form__inputCont textarea::placeholder {
  color: #939cad70;
}
.column__menu__modal__form__inputCont:first-child {
  margin-top: 8px;
}
.column__menu__modal__form__submitBtn {
  background: #635EC6;
  border: none;
  font-weight: 500;
  color: #ffffff;
  height: 42px;
  width: 100%;
  border-radius: 42px;
  margin-top: 30px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.column__menu__modal__form__submitBtn:hover {
  transition: all 150ms ease-in-out;
  background: #453fb2;
}
@media screen and (max-width: 980px) {
  .column__menu__modal__form {
    display: flex;
    flex-direction: column;
  }
  .column__menu__modal__form input, .column__menu__modal__form textarea {
    width: auto;
  }
}
.column__menu__modal--dark {
  background: #2C2C37;
  color: #ffffff;
}
.column__menu__modal--dark input, .column__menu__modal--dark textarea {
  color: #ffffff;
}
.column__menu__modal--light {
  background: #ffffff;
  color: #0f0f0f;
}
@media screen and (max-width: 980px) {
  .column__menu__modal {
    width: 80%;
  }
}
.column__menu__modal__titleCont {
  margin-bottom: 20px;
}
.column__menu__modal__titleCont__title {
  display: flex;
  justify-content: center;
}
.column__menu__modal__titleCont__title h2 {
  text-transform: uppercase;
}
.column__menu__modal__titleCont__title__color {
  height: 15px;
  width: 15px;
  margin-top: 5px;
  margin-right: 10px;
  border-radius: 50%;
}
.column__menu__modal__titleCont__title__color input {
  width: 64px;
  height: 32px;
}
.column__menu__modal__titleCont__title__btn {
  margin-top: 5px;
  margin-left: 15px;
  cursor: pointer;
  transition: all 120ms ease-in-out;
}
.column__menu__modal__titleCont__title__btn:hover {
  transition: all 120ms ease-in-out;
  color: #939CAD;
}
.column__menu__modal__titleCont__forModif__errorCont {
  font-size: 0.8em;
  color: #c41b1b;
  margin-bottom: 10px;
}
.column__menu__modal__titleCont__forModif__color {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 10px;
}
.column__menu__modal__titleCont__forModif__color label {
  margin-bottom: 5px;
}
.column__menu__modal__titleCont__forModif__title {
  display: flex;
  flex-direction: column;
}
.column__menu__modal__titleCont__forModif__title input {
  height: 30px;
  background: inherit;
  border: 1px solid #939cad70;
  border-radius: 6px;
  padding: 0 15px;
}
.column__menu__modal__titleCont__forModif__title input::placeholder {
  color: #939cad70;
}
.column__menu__modal__titleCont__forModif__title label {
  margin-bottom: 5px;
}
.column__menu__modal__titleCont__forModif__btns {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.column__menu__modal__titleCont__forModif__btns input {
  height: 30px;
  width: 48%;
  background: inherit;
  border: 1px solid #5e687c;
  border-radius: 8px;
  padding: 0 15px;
  color: #5e687c;
  cursor: pointer;
  transition: all 120ms ease-in-out;
}
.column__menu__modal__titleCont__forModif__btns input:hover {
  transition: all 120ms ease-in-out;
  border-color: #939CAD;
  color: #939CAD;
}
.column__menu__modal__position {
  display: flex;
  flex-direction: column;
}
.column__menu__modal__position label {
  margin-bottom: 5px;
}
.column__menu__modal__position__select {
  height: 30px;
  width: 235px;
  background: inherit;
  padding: 0 15px;
  border: 1px solid #939cad70;
  border-radius: 6px;
}
.column__menu__modal__position__select--dark {
  color: #ffffff;
}
.column__menu__modal__position__select--light {
  color: #0f0f0f;
}
.column__menu__modal__position__select option {
  color: initial;
}
@media screen and (max-width: 980px) {
  .column__menu__modal__position__select {
    width: auto;
  }
}
.column__menu__modal__deleteBtn {
  margin-top: 25px;
}
.column__menu__modal__deleteBtn input {
  background: #635EC6;
  border: none;
  font-weight: 500;
  color: #ffffff;
  height: 42px;
  width: 100%;
  border-radius: 42px;
  margin-top: 30px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.column__menu__modal__deleteBtn input:hover {
  transition: all 150ms ease-in-out;
  background: #c41b1b;
}
.column__menu__modal__alertDeleteConfirm {
  text-align: center;
  color: #c41b1b;
  margin: 5px 0 20px;
}
.column__menu__modal__btnsConfirm {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.column__menu__modal__btnsConfirm input {
  height: 30px;
  width: 48%;
  background: inherit;
  border: 1px solid #5e687c;
  border-radius: 8px;
  padding: 0 15px;
  color: #5e687c;
  cursor: pointer;
  transition: all 120ms ease-in-out;
}
.column__menu__modal__btnsConfirm input:hover {
  transition: all 120ms ease-in-out;
  border-color: #939CAD;
  color: #939CAD;
}

#confirmDelete:hover {
  transition: all 120ms ease-in-out;
  border-color: #c41b1b;
  color: #c41b1b;
}

.droppable {
  min-height: 90%;
  border-radius: 8px;
}

.draggableElement {
  padding: 20px 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 120ms ease-in-out;
}
.draggableElement h3 {
  font-size: 1.1em;
}
.draggableElement h3::first-letter {
  text-transform: uppercase;
}
.draggableElement p {
  font-size: 0.8em;
  margin-top: 10px;
  color: #939CAD;
}
.draggableElement--dark {
  transition: all 120ms ease-in-out;
  background: #2C2C37;
}
.draggableElement--dark h3 {
  color: #ffffff;
}
.draggableElement--dark:hover {
  transition: all 120ms ease-in-out;
  background: #333340;
}
.draggableElement--light {
  transition: all 120ms ease-in-out;
  background: #ffffff;
}
.draggableElement--light h3 {
  color: #0f0f0f;
}
.draggableElement--light:hover {
  transition: all 120ms ease-in-out;
  background: rgba(205, 209, 217, 0.4392156863);
}

.draggable {
  position: relative;
}
.draggable__taskBtn {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 10px;
  background: none;
  border: none;
  color: #939CAD;
  font-weight: 600;
  font-size: 1.4em;
}
.draggable__taskBtn:hover {
  color: #5e687c;
}
.draggable__taskMenu {
  z-index: 100;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000000b6;
}
.draggable__taskMenu__modal {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 30px;
  border-radius: 6px;
}
.draggable__taskMenu__modal__closeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: 700;
  height: 23px;
  width: 23px;
  background: inherit;
  border: 2px solid #635EC6;
  border-radius: 50%;
  color: #635EC6;
  cursor: pointer;
  transition: all 120ms ease-in-out;
}
.draggable__taskMenu__modal__closeBtn:hover {
  transition: all 120ms ease-in-out;
  border-color: #36328c;
  color: #36328c;
}
.draggable__taskMenu__modal__errorCont {
  font-size: 0.8em;
  min-height: 13px;
  margin-top: 13px;
  max-width: 410px;
  color: #c41b1b;
}
.draggable__taskMenu__modal h2 {
  font-size: 1.3em;
  font-weight: 600;
}
.draggable__taskMenu__modal__form__inputCont {
  display: flex;
  flex-direction: column;
  margin-top: 22px;
}
.draggable__taskMenu__modal__form__inputCont label {
  font-size: 0.85em;
  margin-bottom: 9px;
}
.draggable__taskMenu__modal__form__inputCont input {
  height: 30px;
  width: 380px;
  background: inherit;
  border: 1px solid #939cad70;
  border-radius: 6px;
  padding: 0 15px;
}
.draggable__taskMenu__modal__form__inputCont input::placeholder {
  color: #939cad70;
}
.draggable__taskMenu__modal__form__inputCont textarea {
  resize: none;
  height: 80px;
  width: 380px;
  background: inherit;
  border: 1px solid #939cad70;
  border-radius: 6px;
  padding: 0 15px;
}
.draggable__taskMenu__modal__form__inputCont textarea::placeholder {
  color: #939cad70;
}
.draggable__taskMenu__modal__form__inputCont:first-child {
  margin-top: 8px;
}
.draggable__taskMenu__modal__form__submitBtn {
  background: #635EC6;
  border: none;
  font-weight: 500;
  color: #ffffff;
  height: 42px;
  width: 100%;
  border-radius: 42px;
  margin-top: 30px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.draggable__taskMenu__modal__form__submitBtn:hover {
  transition: all 150ms ease-in-out;
  background: #453fb2;
}
@media screen and (max-width: 980px) {
  .draggable__taskMenu__modal__form {
    display: flex;
    flex-direction: column;
  }
  .draggable__taskMenu__modal__form input, .draggable__taskMenu__modal__form textarea {
    width: auto;
  }
}
.draggable__taskMenu__modal--dark {
  background: #2C2C37;
  color: #ffffff;
}
.draggable__taskMenu__modal--dark input, .draggable__taskMenu__modal--dark textarea {
  color: #ffffff;
}
.draggable__taskMenu__modal--light {
  background: #ffffff;
  color: #0f0f0f;
}
@media screen and (max-width: 980px) {
  .draggable__taskMenu__modal {
    width: 80%;
  }
}
.draggable__taskMenu__modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 350px;
}
.draggable__taskMenu__modal__titleCont {
  margin-top: 30px;
  padding-bottom: 30px;
  width: auto;
}
.draggable__taskMenu__modal__titleCont__input input[type=text] {
  height: 30px;
  width: 380px;
  background: inherit;
  border: 1px solid #939cad70;
  border-radius: 6px;
  padding: 0 15px;
}
.draggable__taskMenu__modal__titleCont__input input[type=text]::placeholder {
  color: #939cad70;
}
.draggable__taskMenu__modal__titleCont__input__btnCont {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.draggable__taskMenu__modal__titleCont__input__btnCont input {
  height: 30px;
  width: 48%;
  background: inherit;
  border: 1px solid #5e687c;
  border-radius: 8px;
  padding: 0 15px;
  color: #5e687c;
  cursor: pointer;
  transition: all 120ms ease-in-out;
}
.draggable__taskMenu__modal__titleCont__input__btnCont input:hover {
  transition: all 120ms ease-in-out;
  border-color: #939CAD;
  color: #939CAD;
}
.draggable__taskMenu__modal__titleCont__content {
  display: flex;
}
.draggable__taskMenu__modal__titleCont__content h2 {
  margin-bottom: 10px;
}
.draggable__taskMenu__modal__titleCont__content h2::first-letter {
  text-transform: uppercase;
}
.draggable__taskMenu__modal__titleCont__content__btn {
  margin: 5px 0 0 10px;
  cursor: pointer;
  transition: all 120ms ease-in-out;
}
.draggable__taskMenu__modal__titleCont__content__btn:hover {
  transition: all 120ms ease-in-out;
  color: #939CAD;
}
.draggable__taskMenu__modal__titleCont__para {
  font-size: 0.9em;
  color: #939CAD;
}
@media screen and (max-width: 980px) {
  .draggable__taskMenu__modal__titleCont {
    width: 85%;
  }
}
.draggable__taskMenu__modal__subTasks {
  min-width: 85%;
}
.draggable__taskMenu__modal__subTasks__check {
  display: flex;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 4px;
}
.draggable__taskMenu__modal__subTasks__check label {
  margin-left: 4px;
  color: #939CAD;
}
.draggable__taskMenu__modal__subTasks__check--dark {
  background: #23232c;
}
.draggable__taskMenu__modal__subTasks__check--light {
  background: #efeff2;
}
.draggable__taskMenu__modal__deleteBtn {
  margin-top: 25px;
  width: 200px;
}
.draggable__taskMenu__modal__deleteBtn input {
  background: #635EC6;
  border: none;
  font-weight: 500;
  color: #ffffff;
  height: 42px;
  width: 100%;
  border-radius: 42px;
  margin-top: 30px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.draggable__taskMenu__modal__deleteBtn input:hover {
  transition: all 150ms ease-in-out;
  background: #c41b1b;
}
.draggable__taskMenu__modal__alertDeleteConfirm {
  text-align: center;
  color: #c41b1b;
  margin: 5px 0 20px;
}
.draggable__taskMenu__modal__btnsConfirm {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.draggable__taskMenu__modal__btnsConfirm input {
  height: 30px;
  width: 48%;
  background: inherit;
  border: 1px solid #5e687c;
  border-radius: 8px;
  padding: 0 15px;
  color: #5e687c;
  cursor: pointer;
  transition: all 120ms ease-in-out;
}
.draggable__taskMenu__modal__btnsConfirm input:hover {
  transition: all 120ms ease-in-out;
  border-color: #939CAD;
  color: #939CAD;
}
@media screen and (max-width: 980px) {
  .draggable__taskMenu__modal {
    min-width: initial;
  }
}

.home {
  display: flex;
}
.home__side {
  z-index: 1;
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 320px;
  border-right: 1px solid #8f8f8f73;
  transition: all 120ms ease-in-out;
}
.home__side__top__titleCont {
  margin: 33px 0 50px 25px;
  display: flex;
}
.home__side__top__titleCont img {
  height: 25px;
  margin: 5px 8px 0 0;
}
.home__side__top__titleCont h1 {
  font-weight: 700;
  font-size: 2em;
}
.home__side__top__titleCont--dark {
  color: #ffffff;
}
.home__side__top__boards {
  color: #939CAD;
}
.home__side__top__boards__count {
  text-transform: uppercase;
  font-size: 0.95em;
  margin-left: 25px;
  cursor: pointer;
  transition: all 120ms ease-in-out;
}
.home__side__top__boards__count:hover {
  transition: all 120ms ease-in-out;
  color: #5e687c;
}
.home__side__top__boards__container {
  height: auto;
  margin-top: 20px;
}
.home__side__top__boards__container__board {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 45px;
  border-radius: 0 45px 45px 0;
  padding-left: 25px;
  margin-right: 25px;
  padding-right: 15px;
  transition: all 120ms ease-in-out;
}
.home__side__top__boards__container__board__img {
  margin: 1px 15px 0 0;
  height: 16px;
}
.home__side__top__boards__container__board p {
  overflow: hidden;
  font-size: 1.1em;
  max-height: 20px;
  white-space: nowrap;
}
.home__side__top__boards__container__board p::first-letter {
  text-transform: uppercase;
}
.home__side__top__boards__container__board:hover {
  transition: all 120ms ease-in-out;
  color: #5e687c;
}
.home__side__top__boards__container__board--activ {
  background: #635EC6;
  color: #ffffff;
  transition: all 120ms ease-in-out;
}
.home__side__top__boards__container__board--activ:hover {
  transition: all 120ms ease-in-out;
  color: #cccccc;
}
.home__side__top__boards__container__nothing {
  text-align: center;
  margin: 40px 0;
}
.home__side__top__boards__container--displayAll {
  overflow: scroll;
  max-height: 400px;
}
.home__side__top__boards__addBtnCont {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 45px;
  border-radius: 0 45px 45px 0;
  padding-left: 25px;
  margin-right: 25px;
  padding-right: 15px;
  transition: all 120ms ease-in-out;
  color: #635EC6;
  transition: all 120ms ease-in-out;
}
.home__side__top__boards__addBtnCont__img {
  margin: 1px 15px 0 0;
  height: 16px;
}
.home__side__top__boards__addBtnCont p {
  overflow: hidden;
  font-size: 1.1em;
  max-height: 20px;
  white-space: nowrap;
}
.home__side__top__boards__addBtnCont p::first-letter {
  text-transform: uppercase;
}
.home__side__top__boards__addBtnCont:hover {
  transition: all 120ms ease-in-out;
  color: #5e687c;
}
.home__side__top__boards__addBtnCont:hover {
  transition: all 120ms ease-in-out;
  color: #453fb2;
}
.home__side__bot {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.home__side__bot__cont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 270px;
  border-radius: 7px;
}
.home__side__bot__cont__darkModOption {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 22px;
  margin: 0 20px;
}
.home__side__bot__cont__darkModOption input {
  opacity: 0;
  width: 0;
  height: 0;
}
.home__side__bot__cont__darkModOption__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 22px;
}
.home__side__bot__cont__darkModOption__slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 3px;
  bottom: 3px;
  background-color: #ffffff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}
input:checked + .home__side__bot__cont__darkModOption__slider {
  background-color: #635EC6;
}
input:focus + .home__side__bot__cont__darkModOption__slider {
  box-shadow: 0 0 1px #635EC6;
}
input:checked + .home__side__bot__cont__darkModOption__slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}
.home__side__bot__cont__img {
  height: 20px;
  color: #939CAD;
}
.home__side__bot__cont--dark {
  background: #21222D;
}
.home__side__bot__cont--light {
  background: #F3F6FE;
}
.home__side__bot__hideSide {
  width: 270px;
  display: flex;
  justify-content: center;
  margin: 25px 0 45px;
  color: #939CAD;
  cursor: pointer;
  transition: all 120ms ease-in-out;
}
.home__side__bot__hideSide a {
  color: inherit;
}
.home__side__bot__hideSide:hover {
  transition: all 120ms ease-in-out;
  color: #5e687c;
}
.home__side--dark {
  transition: all 120ms ease-in-out;
  background: #2C2C37;
}
.home__side--light {
  transition: all 120ms ease-in-out;
  background: #ffffff;
}
@media screen and (max-width: 980px) {
  .home__side {
    width: 100%;
  }
}
@media screen and (max-width: 980px) {
  .home__side--hidden {
    display: none;
  }
}
.home__right {
  position: relative;
  margin-left: 320px;
  width: 100%;
}
.home__right__header {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  left: 321px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0 25px;
  border-bottom: 1px solid #8f8f8f73;
  transition: all 120ms ease-in-out;
}
.home__right__header__title {
  font-size: 1.7em;
  font-weight: 500;
}
.home__right__header__title--dark {
  color: #ffffff;
}
.home__right__header__title--light {
  color: #0f0f0f;
}
.home__right__header__title::first-letter {
  text-transform: uppercase;
}
@media screen and (max-width: 980px) {
  .home__right__header__title {
    white-space: nowrap;
    overflow: hidden;
    margin-right: 25px;
  }
}
.home__right__header__right {
  display: flex;
  align-items: center;
}
.home__right__header__right__newBtn {
  height: 47px;
  background: #635EC6;
  border: none;
  border-radius: 47px;
  font-size: 1.05em;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.home__right__header__right__newBtn:hover {
  transition: all 150ms ease-in-out;
  background: #453fb2;
}
.home__right__header__right__newBtn--screen {
  padding: 0 30px;
}
@media screen and (max-width: 980px) {
  .home__right__header__right__newBtn--screen {
    display: none;
  }
}
.home__right__header__right__newBtn--mobile {
  padding: 15px 15px 15px 16px;
  height: 17px;
  display: none;
  border-radius: 50%;
}
@media screen and (max-width: 980px) {
  .home__right__header__right__newBtn--mobile {
    display: block;
  }
}
.home__right__header__right__menuBtn {
  font-size: 1.4em;
  color: #939CAD;
  margin-left: 25px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
  width: 15px;
}
.home__right__header__right__menuBtn:hover {
  transition: all 150ms ease-in-out;
  color: #768197;
}
.home__right__header__right__menu {
  position: absolute;
  right: 0;
  top: 0;
  padding: 90px 15px 10px 30px;
  border-radius: 0 0 0 6px;
  border-bottom: 1px solid #939cad70;
  border-left: 1px solid #939cad70;
}
.home__right__header__right__menu__menuItem {
  display: flex;
  margin-bottom: 15px;
  cursor: pointer;
}
.home__right__header__right__menu__menuItem p {
  margin-left: 10px;
}
.home__right__header__right__menu__menuItem--dark {
  color: #939CAD;
  transition: all 150ms ease-in-out;
}
.home__right__header__right__menu__menuItem--dark:hover {
  transition: all 150ms ease-in-out;
  color: #768197;
}
.home__right__header__right__menu__menuItem--light {
  color: #0f0f0f;
  transition: all 150ms ease-in-out;
}
.home__right__header__right__menu__menuItem--light:hover {
  transition: all 150ms ease-in-out;
  color: #939CAD;
}
.home__right__header__right__menu__menuItem--mobile {
  display: none;
}
@media screen and (max-width: 980px) {
  .home__right__header__right__menu__menuItem--mobile {
    display: flex;
  }
}
.home__right__header__right__menu__menuBtn {
  position: absolute;
  right: 25px;
  top: 40px;
  font-size: 1.4em;
  color: #939CAD;
  margin-left: 25px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
  width: 15px;
}
.home__right__header__right__menu__menuBtn:hover {
  transition: all 150ms ease-in-out;
  color: #768197;
}
.home__right__header__right__menu--dark {
  background: #2C2C37;
}
.home__right__header__right__menu--light {
  background: #ffffff;
}
@media screen and (max-width: 980px) {
  .home__right__header__right__menu {
    left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border-left: none;
    border-radius: 0;
  }
  .home__right__header__right__menu__menuItem {
    margin-bottom: 12px;
  }
}
.home__right__header--dark {
  transition: all 120ms ease-in-out;
  background: #2C2C37;
}
.home__right__header--light {
  transition: all 120ms ease-in-out;
  background: #ffffff;
}
.home__right__main {
  position: absolute;
  box-sizing: border-box;
  min-height: 100vh;
  height: auto;
  padding-top: 100px;
  transition: all 120ms ease-in-out;
  width: auto;
  min-width: 100%;
}
.home__right__main__container {
  box-sizing: border-box;
  display: flex;
  min-width: 100%;
  height: 100%;
  min-height: 800px;
  padding: 25px;
}
.home__right__main__container__addBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 260px;
  max-height: 900px;
  border-radius: 8px;
  color: #939CAD;
  cursor: pointer;
}
.home__right__main__container__addBtn p {
  font-size: 1.5em;
}
.home__right__main__container__addBtn--dark {
  transition: all 120ms ease-in-out;
  background: #262632;
}
.home__right__main__container__addBtn--dark:hover {
  transition: all 120ms ease-in-out;
  background: #1d1d26;
  color: #7c879b;
}
.home__right__main__container__addBtn--light {
  transition: all 120ms ease-in-out;
  background: #e4edfa;
}
.home__right__main__container__addBtn--light:hover {
  transition: all 120ms ease-in-out;
  background: #dbe8f9;
  color: #858fa2;
}
.home__right__main__container__newBoardBtnCont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
}
.home__right__main__container__newBoardBtnCont__btn {
  background: #635EC6;
  border: none;
  font-weight: 500;
  color: #ffffff;
  height: 42px;
  border-radius: 42px;
  margin-top: 30px;
  cursor: pointer;
  padding: 0 25px;
  transition: all 150ms ease-in-out;
  margin-top: -60px;
}
.home__right__main__container__newBoardBtnCont__btn:hover {
  transition: all 150ms ease-in-out;
  background: #453fb2;
}
@media screen and (max-width: 980px) {
  .home__right__main__container {
    position: relative;
    overflow: scroll;
  }
}
.home__right__main--dark {
  transition: all 120ms ease-in-out;
  background: #21222D;
}
.home__right__main--light {
  transition: all 120ms ease-in-out;
  background: #F3F6FE;
}
@media screen and (max-width: 980px) {
  .home__right__main {
    position: relative;
  }
}
@media screen and (max-width: 980px) {
  .home__right {
    margin-left: 0;
  }
  .home__right__header {
    left: 0;
  }
}
.home__modalNewBoard {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000000b6;
}
.home__modalNewBoard__modal {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 30px;
  border-radius: 6px;
}
.home__modalNewBoard__modal__closeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: 700;
  height: 23px;
  width: 23px;
  background: inherit;
  border: 2px solid #635EC6;
  border-radius: 50%;
  color: #635EC6;
  cursor: pointer;
  transition: all 120ms ease-in-out;
}
.home__modalNewBoard__modal__closeBtn:hover {
  transition: all 120ms ease-in-out;
  border-color: #36328c;
  color: #36328c;
}
.home__modalNewBoard__modal__errorCont {
  font-size: 0.8em;
  min-height: 13px;
  margin-top: 13px;
  max-width: 410px;
  color: #c41b1b;
}
.home__modalNewBoard__modal h2 {
  font-size: 1.3em;
  font-weight: 600;
}
.home__modalNewBoard__modal__form__inputCont {
  display: flex;
  flex-direction: column;
  margin-top: 22px;
}
.home__modalNewBoard__modal__form__inputCont label {
  font-size: 0.85em;
  margin-bottom: 9px;
}
.home__modalNewBoard__modal__form__inputCont input {
  height: 30px;
  width: 380px;
  background: inherit;
  border: 1px solid #939cad70;
  border-radius: 6px;
  padding: 0 15px;
}
.home__modalNewBoard__modal__form__inputCont input::placeholder {
  color: #939cad70;
}
.home__modalNewBoard__modal__form__inputCont textarea {
  resize: none;
  height: 80px;
  width: 380px;
  background: inherit;
  border: 1px solid #939cad70;
  border-radius: 6px;
  padding: 0 15px;
}
.home__modalNewBoard__modal__form__inputCont textarea::placeholder {
  color: #939cad70;
}
.home__modalNewBoard__modal__form__inputCont:first-child {
  margin-top: 8px;
}
.home__modalNewBoard__modal__form__submitBtn {
  background: #635EC6;
  border: none;
  font-weight: 500;
  color: #ffffff;
  height: 42px;
  width: 100%;
  border-radius: 42px;
  margin-top: 30px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.home__modalNewBoard__modal__form__submitBtn:hover {
  transition: all 150ms ease-in-out;
  background: #453fb2;
}
@media screen and (max-width: 980px) {
  .home__modalNewBoard__modal__form {
    display: flex;
    flex-direction: column;
  }
  .home__modalNewBoard__modal__form input, .home__modalNewBoard__modal__form textarea {
    width: auto;
  }
}
.home__modalNewBoard__modal--dark {
  background: #2C2C37;
  color: #ffffff;
}
.home__modalNewBoard__modal--dark input, .home__modalNewBoard__modal--dark textarea {
  color: #ffffff;
}
.home__modalNewBoard__modal--light {
  background: #ffffff;
  color: #0f0f0f;
}
@media screen and (max-width: 980px) {
  .home__modalNewBoard__modal {
    width: 80%;
  }
}
.home__modalNewColumn {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000000b6;
}
.home__modalNewColumn__modal {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 30px;
  border-radius: 6px;
}
.home__modalNewColumn__modal__closeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: 700;
  height: 23px;
  width: 23px;
  background: inherit;
  border: 2px solid #635EC6;
  border-radius: 50%;
  color: #635EC6;
  cursor: pointer;
  transition: all 120ms ease-in-out;
}
.home__modalNewColumn__modal__closeBtn:hover {
  transition: all 120ms ease-in-out;
  border-color: #36328c;
  color: #36328c;
}
.home__modalNewColumn__modal__errorCont {
  font-size: 0.8em;
  min-height: 13px;
  margin-top: 13px;
  max-width: 410px;
  color: #c41b1b;
}
.home__modalNewColumn__modal h2 {
  font-size: 1.3em;
  font-weight: 600;
}
.home__modalNewColumn__modal__form__inputCont {
  display: flex;
  flex-direction: column;
  margin-top: 22px;
}
.home__modalNewColumn__modal__form__inputCont label {
  font-size: 0.85em;
  margin-bottom: 9px;
}
.home__modalNewColumn__modal__form__inputCont input {
  height: 30px;
  width: 380px;
  background: inherit;
  border: 1px solid #939cad70;
  border-radius: 6px;
  padding: 0 15px;
}
.home__modalNewColumn__modal__form__inputCont input::placeholder {
  color: #939cad70;
}
.home__modalNewColumn__modal__form__inputCont textarea {
  resize: none;
  height: 80px;
  width: 380px;
  background: inherit;
  border: 1px solid #939cad70;
  border-radius: 6px;
  padding: 0 15px;
}
.home__modalNewColumn__modal__form__inputCont textarea::placeholder {
  color: #939cad70;
}
.home__modalNewColumn__modal__form__inputCont:first-child {
  margin-top: 8px;
}
.home__modalNewColumn__modal__form__submitBtn {
  background: #635EC6;
  border: none;
  font-weight: 500;
  color: #ffffff;
  height: 42px;
  width: 100%;
  border-radius: 42px;
  margin-top: 30px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.home__modalNewColumn__modal__form__submitBtn:hover {
  transition: all 150ms ease-in-out;
  background: #453fb2;
}
@media screen and (max-width: 980px) {
  .home__modalNewColumn__modal__form {
    display: flex;
    flex-direction: column;
  }
  .home__modalNewColumn__modal__form input, .home__modalNewColumn__modal__form textarea {
    width: auto;
  }
}
.home__modalNewColumn__modal--dark {
  background: #2C2C37;
  color: #ffffff;
}
.home__modalNewColumn__modal--dark input, .home__modalNewColumn__modal--dark textarea {
  color: #ffffff;
}
.home__modalNewColumn__modal--light {
  background: #ffffff;
  color: #0f0f0f;
}
@media screen and (max-width: 980px) {
  .home__modalNewColumn__modal {
    width: 80%;
  }
}
.home__modalNewColumn__modal__form__colOptions {
  display: flex;
  margin-top: 30px;
}
.home__modalNewColumn__modal__form__colOptions__color, .home__modalNewColumn__modal__form__colOptions__position {
  display: flex;
  flex-direction: column;
}
.home__modalNewColumn__modal__form__colOptions__color label, .home__modalNewColumn__modal__form__colOptions__position label {
  margin-bottom: 7px;
}
.home__modalNewColumn__modal__form__colOptions__color {
  margin-right: 50px;
}
.home__modalNewColumn__modal__form__colOptions__color input {
  width: 64px;
  height: 32px;
}
.home__modalNewColumn__modal__form__colOptions__position__select {
  height: 30px;
  background: inherit;
  padding: 0 15px;
  border: 1px solid #939cad70;
  border-radius: 6px;
}
.home__modalNewColumn__modal__form__colOptions__position__select--dark {
  color: #ffffff;
}
.home__modalNewColumn__modal__form__colOptions__position__select--light {
  color: #0f0f0f;
}
@media screen and (max-width: 980px) {
  .home__modalNewColumn__modal__form__colOptions__position {
    width: 100%;
  }
}
.home__modalNewTask {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000000b6;
}
.home__modalNewTask__modal {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 30px;
  border-radius: 6px;
}
.home__modalNewTask__modal__closeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: 700;
  height: 23px;
  width: 23px;
  background: inherit;
  border: 2px solid #635EC6;
  border-radius: 50%;
  color: #635EC6;
  cursor: pointer;
  transition: all 120ms ease-in-out;
}
.home__modalNewTask__modal__closeBtn:hover {
  transition: all 120ms ease-in-out;
  border-color: #36328c;
  color: #36328c;
}
.home__modalNewTask__modal__errorCont {
  font-size: 0.8em;
  min-height: 13px;
  margin-top: 13px;
  max-width: 410px;
  color: #c41b1b;
}
.home__modalNewTask__modal h2 {
  font-size: 1.3em;
  font-weight: 600;
}
.home__modalNewTask__modal__form__inputCont {
  display: flex;
  flex-direction: column;
  margin-top: 22px;
}
.home__modalNewTask__modal__form__inputCont label {
  font-size: 0.85em;
  margin-bottom: 9px;
}
.home__modalNewTask__modal__form__inputCont input {
  height: 30px;
  width: 380px;
  background: inherit;
  border: 1px solid #939cad70;
  border-radius: 6px;
  padding: 0 15px;
}
.home__modalNewTask__modal__form__inputCont input::placeholder {
  color: #939cad70;
}
.home__modalNewTask__modal__form__inputCont textarea {
  resize: none;
  height: 80px;
  width: 380px;
  background: inherit;
  border: 1px solid #939cad70;
  border-radius: 6px;
  padding: 0 15px;
}
.home__modalNewTask__modal__form__inputCont textarea::placeholder {
  color: #939cad70;
}
.home__modalNewTask__modal__form__inputCont:first-child {
  margin-top: 8px;
}
.home__modalNewTask__modal__form__submitBtn {
  background: #635EC6;
  border: none;
  font-weight: 500;
  color: #ffffff;
  height: 42px;
  width: 100%;
  border-radius: 42px;
  margin-top: 30px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.home__modalNewTask__modal__form__submitBtn:hover {
  transition: all 150ms ease-in-out;
  background: #453fb2;
}
@media screen and (max-width: 980px) {
  .home__modalNewTask__modal__form {
    display: flex;
    flex-direction: column;
  }
  .home__modalNewTask__modal__form input, .home__modalNewTask__modal__form textarea {
    width: auto;
  }
}
.home__modalNewTask__modal--dark {
  background: #2C2C37;
  color: #ffffff;
}
.home__modalNewTask__modal--dark input, .home__modalNewTask__modal--dark textarea {
  color: #ffffff;
}
.home__modalNewTask__modal--light {
  background: #ffffff;
  color: #0f0f0f;
}
@media screen and (max-width: 980px) {
  .home__modalNewTask__modal {
    width: 80%;
  }
}
.home__modalNewTask__modal__form__checkList {
  margin-top: 22px;
}
.home__modalNewTask__modal__form__checkList label {
  font-size: 0.85em;
}
.home__modalNewTask__modal__form__checkList__cont {
  margin-top: 9px;
}
.home__modalNewTask__modal__form__checkList__cont__inputCont {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 11px;
}
.home__modalNewTask__modal__form__checkList__cont__inputCont input[type=text] {
  height: 30px;
  width: 82%;
  background: inherit;
  border: 1px solid #939cad70;
  border-radius: 6px;
  padding: 0 15px;
}
.home__modalNewTask__modal__form__checkList__cont__inputCont input[type=text]::placeholder {
  color: #939cad70;
}
.home__modalNewTask__modal__form__checkList__cont__inputCont__closeCont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  cursor: pointer;
  color: #939CAD;
  transition: all 120ms ease-in-out;
}
.home__modalNewTask__modal__form__checkList__cont__inputCont__closeCont__closeBtn {
  font-size: 1.3em;
}
.home__modalNewTask__modal__form__checkList__cont__inputCont__closeCont:hover {
  transition: all 120ms ease-in-out;
  color: #5e687c;
}
.home__modalNewTask__modal__form__checkList__cont__addSubBtn {
  width: 100%;
  border: none;
  height: 35px;
  border-radius: 35px;
  font-weight: 500;
  cursor: pointer;
  background: #ffffff;
  color: #635EC6;
  transition: all 120ms ease-in-out;
}
.home__modalNewTask__modal__form__checkList__cont__addSubBtn--light {
  border: 1px solid #635EC6;
}
.home__modalNewTask__modal__form__checkList__cont__addSubBtn:hover {
  transition: all 120ms ease-in-out;
  background: #d0cfee;
}
.home__modalNewTask__modal__form__status {
  display: flex;
  flex-direction: column;
  margin-top: 22px;
}
.home__modalNewTask__modal__form__status label {
  font-size: 0.85em;
  margin-bottom: 9px;
}
.home__modalNewTask__modal__form__status__select {
  height: 33px;
  background: inherit;
  padding: 0 15px;
  border: 1px solid #939cad70;
  border-radius: 5px;
}
.home__modalNewTask__modal__form__status__select--dark {
  color: #ffffff;
}
.home__modalNewTask__modal__form__status__select--light {
  color: #0f0f0f;
}
@media screen and (max-width: 980px) {
  .home {
    height: auto;
  }
}

.log {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 100vw;
}
.log section {
  height: 300px;
  padding: 18px 18px 28px;
  border: 1px solid #939cad70;
  border-radius: 8px;
  box-sizing: border-box;
}
@media screen and (max-width: 980px) {
  .log section {
    height: auto;
    padding-bottom: 50px;
  }
}
.log__login {
  margin-right: 15px;
}
@media screen and (max-width: 980px) {
  .log__login {
    margin-right: 0;
    margin-bottom: 25px;
  }
}
.log__signin h2, .log__login h2 {
  text-align: center;
  font-weight: 500;
  font-size: 1.4em;
  margin-bottom: 25px;
}
.log__signin__form, .log__login__form {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.log__signin__form__cont, .log__login__form__cont {
  display: flex;
}
@media screen and (max-width: 980px) {
  .log__signin__form__cont, .log__login__form__cont {
    flex-direction: column;
  }
}
.log__signin__form__cont__inputCont, .log__signin__form__inputCont, .log__login__form__cont__inputCont, .log__login__form__inputCont {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.log__signin__form__cont__inputCont input, .log__signin__form__inputCont input, .log__login__form__cont__inputCont input, .log__login__form__inputCont input {
  height: 30px;
  border: 1px solid #939CAD;
  border-radius: 30px;
  padding-left: 15px;
}
.log__signin__form__cont__inputCont label, .log__signin__form__inputCont label, .log__login__form__cont__inputCont label, .log__login__form__inputCont label {
  margin-bottom: 5px;
}
.log__signin__form__cont__inputCont--first, .log__signin__form__inputCont--first, .log__login__form__cont__inputCont--first, .log__login__form__inputCont--first {
  margin-right: 10px;
}
@media screen and (max-width: 980px) {
  .log__signin__form__cont__inputCont--first, .log__signin__form__inputCont--first, .log__login__form__cont__inputCont--first, .log__login__form__inputCont--first {
    margin-right: 0;
  }
}
.log__signin__form__btnCont, .log__login__form__btnCont {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 35px;
}
.log__signin__form__btnCont input[type=submit], .log__login__form__btnCont input[type=submit] {
  height: 30px;
  width: 150px;
  background: #635EC6;
  color: #ffffff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 120ms ease-in-out;
}
.log__signin__form__btnCont input[type=submit]:hover, .log__login__form__btnCont input[type=submit]:hover {
  transition: all 120ms ease-in-out;
  background: #3d389f;
}
@media screen and (max-width: 980px) {
  .log__signin__form__btnCont, .log__login__form__btnCont {
    bottom: 6px;
  }
}
@media screen and (max-width: 980px) {
  .log__signin, .log__login {
    width: 380px;
  }
}
@media screen and (max-width: 580px) {
  .log__signin, .log__login {
    width: 90%;
  }
}
@media screen and (max-width: 980px) {
  .log {
    flex-direction: column;
  }
}

.profil {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
.profil__backBtn {
  position: absolute;
  left: 0;
  top: 20px;
  background: #635EC6;
  border: none;
  border-radius: 0 50px 50px 0;
  height: 50px;
  padding: 0 25px 0 15px;
  font-size: 1.1em;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
  transition: all 120ms ease-in-out;
}
.profil__backBtn:hover {
  transition: all 120ms ease-in-out;
  background: #3d389f;
}
.profil h1 {
  font-size: 2em;
  font-weight: 500;
  text-align: center;
  margin: 100px 0 80px;
}
.profil__section__projectCont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profil__section__projectCont__project {
  position: relative;
  padding: 15px;
  width: 500px;
  border: 5px double #939cad70;
  border-radius: 7px;
  margin-top: 25px;
}
.profil__section__projectCont__project h2 {
  font-size: 1.2em;
  font-weight: 600;
  text-align: center;
}
.profil__section__projectCont__project p {
  border-top: 1px solid #939cad70;
  margin-top: 15px;
  padding-top: 20px;
}
.profil__section__projectCont__project__menuBtn {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  transition: all 120ms ease-in-out;
}
.profil__section__projectCont__project__menuBtn:hover {
  transition: all 120ms ease-in-out;
  color: #69758a;
}
@media screen and (max-width: 980px) {
  .profil__section__projectCont__project {
    width: 80%;
  }
  .profil__section__projectCont__project h2 {
    text-align: start;
    padding-right: 20px;
  }
}
@media screen and (max-width: 980px) {
  .profil__section__projectCont {
    display: flex;
    align-items: center;
    width: 100%;
  }
}
.profil__modalMenu {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000000b6;
}
.profil__modalMenu__modal {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 30px;
  border-radius: 6px;
}
.profil__modalMenu__modal__closeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: 700;
  height: 23px;
  width: 23px;
  background: inherit;
  border: 2px solid #635EC6;
  border-radius: 50%;
  color: #635EC6;
  cursor: pointer;
  transition: all 120ms ease-in-out;
}
.profil__modalMenu__modal__closeBtn:hover {
  transition: all 120ms ease-in-out;
  border-color: #36328c;
  color: #36328c;
}
.profil__modalMenu__modal__errorCont {
  font-size: 0.8em;
  min-height: 13px;
  margin-top: 13px;
  max-width: 410px;
  color: #c41b1b;
}
.profil__modalMenu__modal h2 {
  font-size: 1.3em;
  font-weight: 600;
}
.profil__modalMenu__modal__form__inputCont {
  display: flex;
  flex-direction: column;
  margin-top: 22px;
}
.profil__modalMenu__modal__form__inputCont label {
  font-size: 0.85em;
  margin-bottom: 9px;
}
.profil__modalMenu__modal__form__inputCont input {
  height: 30px;
  width: 380px;
  background: inherit;
  border: 1px solid #939cad70;
  border-radius: 6px;
  padding: 0 15px;
}
.profil__modalMenu__modal__form__inputCont input::placeholder {
  color: #939cad70;
}
.profil__modalMenu__modal__form__inputCont textarea {
  resize: none;
  height: 80px;
  width: 380px;
  background: inherit;
  border: 1px solid #939cad70;
  border-radius: 6px;
  padding: 0 15px;
}
.profil__modalMenu__modal__form__inputCont textarea::placeholder {
  color: #939cad70;
}
.profil__modalMenu__modal__form__inputCont:first-child {
  margin-top: 8px;
}
.profil__modalMenu__modal__form__submitBtn {
  background: #635EC6;
  border: none;
  font-weight: 500;
  color: #ffffff;
  height: 42px;
  width: 100%;
  border-radius: 42px;
  margin-top: 30px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.profil__modalMenu__modal__form__submitBtn:hover {
  transition: all 150ms ease-in-out;
  background: #453fb2;
}
@media screen and (max-width: 980px) {
  .profil__modalMenu__modal__form {
    display: flex;
    flex-direction: column;
  }
  .profil__modalMenu__modal__form input, .profil__modalMenu__modal__form textarea {
    width: auto;
  }
}
.profil__modalMenu__modal--dark {
  background: #2C2C37;
  color: #ffffff;
}
.profil__modalMenu__modal--dark input, .profil__modalMenu__modal--dark textarea {
  color: #ffffff;
}
.profil__modalMenu__modal--light {
  background: #ffffff;
  color: #0f0f0f;
}
@media screen and (max-width: 980px) {
  .profil__modalMenu__modal {
    width: 80%;
  }
}
.profil__modalMenu__modal__form {
  margin-bottom: 50px;
}
.profil__modalMenu__modal__form__btnCont {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.profil__modalMenu__modal__form__btnCont input {
  height: 30px;
  width: 48%;
  background: inherit;
  border: 1px solid #5e687c;
  border-radius: 8px;
  padding: 0 15px;
  color: #5e687c;
  cursor: pointer;
  transition: all 120ms ease-in-out;
}
.profil__modalMenu__modal__form__btnCont input:hover {
  transition: all 120ms ease-in-out;
  border-color: #939CAD;
  color: #939CAD;
}
.profil__modalMenu__modal__main {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profil__modalMenu__modal__main p {
  margin: 15px 0 50px;
}
.profil__modalMenu__modal__main__title {
  display: flex;
  justify-content: center;
}
.profil__modalMenu__modal__main__title__icon {
  margin: 5px 0 0 15px;
  cursor: pointer;
}
.profil__modalMenu__modal__main__title__icon:hover {
  color: #939CAD;
}
@media screen and (max-width: 980px) {
  .profil__modalMenu__modal__main {
    width: auto;
  }
}
.profil__modalMenu__modal__deleteBtn {
  display: flex;
  justify-content: center;
}
.profil__modalMenu__modal__deleteBtn input {
  height: 35px;
  background: #635EC6;
  border: none;
  border-radius: 30px;
  padding: 0 20px;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
  transition: all 120ms ease-in-out;
}
.profil__modalMenu__modal__deleteBtn input:hover {
  transition: all 120ms ease-in-out;
  background: #c41b1b;
}
.profil--dark {
  background: #2C2C37;
  color: #939CAD;
}
.profil--light {
  background: #ffffff;
  color: #0f0f0f;
}

.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
.notFound h1 {
  font-size: 4vw;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: -40px;
}
.notFound a {
  text-decoration: none;
  color: inherit;
}
.notFound h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 40px;
  background: #635EC6;
  width: 110px;
  color: #ffffff;
}
.notFound h2:hover {
  background: #453fb2;
}
.notFound--dark {
  background: #2C2C37;
}
.notFound--dark h1 {
  color: #ffffff;
}
.notFound--light {
  background: #ffffff;
}

/*# sourceMappingURL=style.css.map */
