.column {
    width: 260px;
    min-width: 260px;
    margin-right: 25px ;
    &__header {
        position: relative;
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
        &__cont {
            display: flex;
            h3, span {
                color: map-get($map: $colors, $key:gray-dark );
                font-size: 1em;
            }
            h3 {
                text-transform: uppercase;
                margin: 0 7px 0 9px;
            }
            &__colors {
                height: 16px;
                width: 16px;
                border-radius: 50%;
            }
        }
        &__menuBtn {
            color: map-get($map: $colors, $key:gray-dark );
            padding-right: 7px;
            font-size: 1.1em;
            cursor: pointer;
            transition: all 120ms ease-in-out;
            &:hover {
                transition: all 120ms ease-in-out;
                color: darken($color: map-get($map: $colors, $key:gray-dark ), $amount: 10);
            }
        }
    }
    &:last-child {
        margin-right: 0;
    }
    &__menu {
        @include modal;
        &__modal {
            &__titleCont {
                &__title {
                    display: flex;
                    h2 {
                    text-transform: uppercase;
                    }
                    &__color {
                        height: 15px;
                        width: 15px;
                        margin-top: 5px;
                        margin-right: 10px;
                        border-radius: 50%;
                    }
                    &__btn {
                        margin-top: 5px;
                        margin-left: 15px;
                        cursor: pointer;
                        transition: all 120ms ease-in-out;
                        &:hover {
                            transition: all 120ms ease-in-out;
                            color: map-get($map: $colors, $key:gray-dark );
                        }
                    }
                }
            }
        }
    }
}