.draggableElement {
    padding: 20px 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all 120ms ease-in-out;
    h3 {
        font-size: 1.1em;
        &::first-letter {
            text-transform: uppercase;
        }
    }
    p {
        font-size: 0.8em;
        margin-top: 10px;
        color: map-get($map: $colors, $key:gray-dark );
    }
    &--dark {
        transition: all 120ms ease-in-out;
        background: map-get($map: $colors, $key: primary-dark);
        h3 {
            color: map-get($map: $colors, $key: light-white);
        }
        &:hover {
            transition: all 120ms ease-in-out;
            background: lighten($color: map-get($map: $colors, $key: primary-dark), $amount: 3);
        }
    }
    &--light {
        transition: all 120ms ease-in-out;
        background: map-get($map: $colors, $key: light-white);
        h3 {
            color: map-get($map: $colors, $key: light-black);
        }
        &:hover {
            transition: all 120ms ease-in-out;
            background: lighten($color: map-get($map: $colors, $key: gray-light), $amount: 20);
        }
    }
}

.draggable {
    position: relative;
    &__taskBtn {
        position: absolute;
        cursor: pointer;
        top: 0;
        right: 10px;
        background: none;
        border: none;
        color: map-get($map: $colors, $key: gray-dark);
        font-weight: 600;
        font-size: 1.4em;
        &:hover {
            color: darken($color: map-get($map: $colors, $key: gray-dark), $amount: 20);
        }
    }
    &__taskMenu {
        z-index: 100;
        @include modal;
        &__modal {
            display: flex;
            flex-direction: column;
            align-items: center;
            min-width: 350px;
            &__titleCont {
                margin-top: 30px;
                padding-bottom: 30px;
                width: auto;
                &__input {
                    input[type=text] {
                        height: 30px;
                        width: 380px;
                        @include inputCont;
                    }
                    &__btnCont {
                        @include btnsModal;
                    }
                }
                &__content {
                    display: flex;
                    h2 {
                        margin-bottom: 10px;
                        &::first-letter {
                            text-transform: uppercase;
                        }
                    }
                    &__btn {
                        margin: 5px 0 0 10px;
                        cursor: pointer;
                        transition: all 120ms ease-in-out;
                        &:hover {
                            transition: all 120ms ease-in-out;
                            color: map-get($map: $colors, $key:gray-dark );
                        }
                    }
                }
                &__para {
                    font-size: 0.9em;
                    color: map-get($map: $colors, $key:gray-dark );
                }
                @include lowTablet {
                    width: 85%;
                }
            }
            &__subTasks {
                min-width: 85%;
                &__check {
                    display: flex;
                    padding: 10px;
                    margin-bottom: 8px;
                    border-radius: 4px;
                    label {
                        margin-left: 4px;
                        color: map-get($map: $colors, $key:gray-dark );
                    }
                    &--dark {
                        background: darken(map-get($map: $colors, $key:primary-dark), 4);
                    }
                    &--light {
                        background: lighten(map-get($map: $colors, $key:primary-dark), 75);
                    }
                }
            }
            &__deleteBtn {
                margin-top: 25px;
                width: 200px;
                input {
                    background: map-get($map: $colors, $key:blue-dark );
                    border: none;
                    font-weight: 500;
                    color: map-get($map: $colors, $key: light-white);
                    height: 42px;
                    width: 100%;
                    border-radius: 42px;
                    margin-top: 30px;
                    cursor: pointer;
                    transition: all 150ms ease-in-out;
                    &:hover {
                        transition: all 150ms ease-in-out;
                        background: map-get($colors, error);
                    }
                }
            }
            &__alertDeleteConfirm {
                text-align: center;
                color: map-get($map: $colors, $key: error);
                margin: 5px 0 20px;
            }
            &__btnsConfirm {
                @include btnsModal;
            }
            @include lowTablet {
                min-width: initial;
            }
        }
    }
}