@mixin modal {
    position: fixed;
    top: 0;left: 0;
    bottom: 0;right: 0;
    background: map-get($map: $colors, $key: modal-black);
    &__modal {
        position: absolute;
        top: 42%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 40px 30px; 
        border-radius: 6px; 
        &__closeBtn {
            position: absolute;
            top: 10px;
            right: 10px;
            text-align: center;
            font-weight: 700;
            height: 22px;width: 22px;
            background: inherit;
            border: 2px solid map-get($map: $colors, $key: gray-dark);
            border-radius: 50%;
            color: map-get($map: $colors, $key:gray-dark );    
            cursor: pointer;  
            transition: all 120ms ease-in-out;
            &:hover {
                transition: all 120ms ease-in-out;
                border-color: darken($color: map-get($map: $colors, $key: gray-dark), $amount: 20);
                color: darken($color: map-get($map: $colors, $key: gray-dark), $amount: 20);
            }      
        }
        &__errorCont {
            font-size: 0.8em;
            height: 13px;
            margin-top: 13px;
            color: map-get($map: $colors, $key: error);
        }
        h2{
            font-size: 1.3em;
            font-weight: 600;
        }
        &__form {
            &__inputCont {
                display: flex;
                flex-direction: column;
                margin-top: 30px;
                label {
                    font-size: 0.85em;
                    margin-bottom: 9px;
                }
                input {
                    height: 30px;
                    @include inputCont;
                }
                textarea {
                    height: 80px;
                    @include inputCont;
                }
                &:first-child {
                    margin-top: 8px;
                }
            }
            &__submitBtn {
                background: map-get($map: $colors, $key:blue-dark );
                border: none;
                font-weight: 500;
                color: map-get($map: $colors, $key: light-white);
                height: 42px;
                width: 100%;
                border-radius: 42px;
                margin-top: 30px;
                cursor: pointer;
                transition: all 150ms ease-in-out;
                &:hover {
                    transition: all 150ms ease-in-out;
                    background: darken($color: map-get($colors, blue-dark), $amount: 10);
                }
            }
        }
        &--dark {
            background: map-get($map: $colors, $key: primary-dark); 
            color: map-get($map: $colors, $key: light-white); 
        }
        &--light {
            background: map-get($map: $colors, $key: light-white); 
            color: light-black;
        }
    }
}

@mixin inputCont {
    background: inherit;
    border: 1px solid map-get($map: $colors, $key: gray-light);
    border-radius: 6px;
    padding: 0 15px;
    color: map-get($map: $colors, $key:light-white );
    width: 380px;
    &::placeholder {
        color: map-get($map: $colors, $key: gray-light);
    }
}

@mixin projectCard {
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 45px;
    border-radius: 0 45px 45px 0;
    padding-left: 25px;
    margin-right: 25px;
    transition: all 120ms ease-in-out;
    &__img {
        margin: 1px 15px 0 0;
        height: 16px;
    }
    p {
        font-size: 1.1em;
        &::first-letter {
            text-transform: uppercase;
        }
    }
    &:hover {
        transition: all 120ms ease-in-out;
        color: darken($color: map-get($colors, gray-dark), $amount: 20);
    }
}