@mixin modal {
    position: fixed;
    top: 0;left: 0;
    bottom: 0;right: 0;
    background: map-get($map: $colors, $key: modal-black);
    &__modal {
        position: absolute;
        top: 42%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: map-get($map: $colors, $key: light-white); 
        padding: 15px;  
    }
}

@mixin projectCard {
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 45px;
    border-radius: 0 45px 45px 0;
    padding-left: 25px;
    margin-right: 25px;
    transition: all 120ms ease-in-out;
    &__img {
        margin: 1px 15px 0 0;
        height: 16px;
    }
    p {
        font-size: 1.1em;
        &::first-letter {
            text-transform: uppercase;
        }
    }
    &:hover {
        transition: all 120ms ease-in-out;
        color: darken($color: map-get($colors, gray-dark), $amount: 20);
    }
}