$colors : (
    light-white : #ffffff,
    secondary-light: #F3F6FE,
    light-separator: #8f8f8f73,
    modal-black: #000000b6,
    primary-dark: #2C2C37,
    secondary-dark: #21222D,
    newCol-dark: #24242F,
    newCol-light: #E8F0FB,
    blue-dark: #635EC6,
    blue-light: #645EC7
);